            <nav class="bg-gradient-to-t from-slate-200 from-60% to-transparent sticky bottom-0 -mx-5 mt-5 pt-10 hidden">
                <div class="max-w-lg container mx-auto">
                    <div class="px-5 flex flex-nowrap overflow-x-auto whitespace-nowrap">
                        <div class="px-1 py-4"><a href="#" class="py-1 px-3 rounded-full bg-blue-500 text-white hover:bg-white">Memohon kebaikan</a></div>
                        <div class="px-1 py-4"><a href="#" class="py-1 px-3 rounded-full bg-slate-300 hover:bg-white">Untuk anak/keturunan</a></div>
                        <div class="px-1 py-4"><a href="#" class="py-1 px-3 rounded-full bg-slate-300 hover:bg-white">Untuk orangtua</a></div>
                        <div class="px-1 py-4"><a href="#" class="py-1 px-3 rounded-full bg-slate-300 hover:bg-white">Memohon ilmu</a></div>
                        <div class="px-1 py-4"><a href="#" class="py-1 px-3 rounded-full bg-slate-300 hover:bg-white">Memohon kebaikan rizki</a></div>
                    </div>
                </div>
            </nav>