{% extends "_layout.html" %}

{% set child = true %}
{% set title = "Doa Pilihan" %}
{% set doa = true %}
{% set kebaikan = true %}

{% block content %}
        <section class="mb-8">
            <div class="heading">
                <span class="number">1</span>
                <h3>Memohon segala sesuatu yang pernah diminta Nabi ﷺ</h3>
            </div>
            <div class="card">
                <p class="doa">اَللَّهُمَّ إِنِّي أَسْأَلُكَ مِنَ الْخَيْرِ كُلِّهِ عَاجِلِهِ وَآجِلِهِ، مَا عَلِمْتُ مِنْهُ وَمَا لَمْ أَعْلَمْ
                    وَأَعُوذُ بِكَ مِنَ الشَّرِّ كُلِّهِ عَاجِلِهِ وَآجِلِهِ، مَا عَلِمْتُ مِنْهُ وَمَا لَمْ أَعْلَمْ
                    اَللَّهُمَّ إِنِّي أَسْأَلُكَ مِنْ خَيْرِ مَا سَأَلَكَ عَبْدُكَ وَنَبِيُّكَ، وَأَعُوذُ بِكَ مِنْ شَرِّ مَا عَاذَ بِهِ عَبْدُكَ وَنَبِيُّكَ
                    اَللَّهُمَّ إِنِّي أَسْأَلُكَ الْجَنَّةَ وَمَا قَرَّبَ إِلَيْهَا مِنْ قَوْلٍ أَوْ عَمَلٍ، وَأَعُوذُ بِكَ مِنَ النَّارِ وَمَا قَرَّبَ إِلَيْهَا مِنْ قَوْلٍ أَوْ عَمَلٍ
                    وَأَسْأَلُكَ أَنْ تَجْعَلَ كُلَّ قَضَاءٍ قَضَيْتَهُ لِي خَيْرًا</p>
                <p class="mt-5">"Ya Allah, aku memohon kepada-Mu segala kebaikan yang segera (dunia) dan yang tertunda (akhirat), yang aku ketahui dan yang tidak aku ketahui,</p>
                <p class="mt-3">Dan aku berlindung kepada-Mu dari segala keburukan yang segera (dunia) dan yang tertunda (akhirat), yang aku ketahui dan yang tidak aku ketahui,</p>
                <p class="mt-3">Ya Allah, aku memohon kepada-Mu kebaikan semua doa yang pernah diminta oleh hamba dan nabi-Mu, dan aku berlindung kepada-Mu dari keburukan yang hamba dan nabi-Mu pernah berlindung darinya,</p>
                <p class="mt-3">Ya Allah, aku memohon kepada-Mu surga dan segala hal yang mendekatkan kepadanya, dari perkataan maupun perbuatan.</p>
                <p class="mt-3">Dan aku berlindung kepada-Mu dari neraka dan dari segala hal yang mendekatkan kepadanya, dari perkataan maupun perbuatan,</p>
                <p class="mt-3">Dan aku memohon kepada-Mu agar Engkau jadikan setiap yang Engkau takdirkan bagiku adalah baik".</p>
            </div>
        </section>
        <section class="mb-8">
            <div class="heading">
                <span class="number">2</span>
                <h3>Memohon surga</h3>
            </div>
            <div class="card">
                <p class="doa">اَللَّهُمَّ إني أَسْأَلُكَ الْجَنَّةَ وَمَا قَرَّبَ إِلَيْهَا مِنْ قَوْلٍ أَوْ عَمَلٍ، وَأَعُوذُ بِكَ مِنَ النَّارِ وَمَا قَرَّبَ إِلَيْهَا مِنْ قَوْلٍ أَوْ عَمَلٍ، وَأَسْأَلُكَ أَنْ تَجْعَلَ كُلَّ قَضَاءٍ قَضَيْتَهُ لي خَيْرًا</p>
                <p class="mt-5">"Ya Allah, aku memohon kepada-Mu surga dan segala hal yang mendekatkan kepadanya, dari perkataan maupun perbuatan.</p>
                <p class="mt-3">Dan aku berlindung kepada-Mu dari neraka dan dari segala hal yang mendekatkan kepadanya, dari perkataan maupun perbuatan.</p>
                <p class="mt-3">Dan aku mohon kepada-Mu agar Engkau jadikan setiap yang Engkau takdirkan bagiku adalah baik."</p>
            </div>
        </section>
        <section class="mb-8">
            <div class="heading">
                <span class="number">3</span>
                <h3>Memohon akhlak mulia</h3>
            </div>
            <div class="card">
                <p class="doa">اللَّهُمَّ اهْدِنِي لِأَحْسَنِ الْأَعْمَالِ وَأَحْسَنِ الْأَخْلَاقِ لَا يَهْدِي لِأَحْسَنِهَا إِلَّا أَنْتَ، وَقِنِي سَيِّئَ الْأَعْمَالِ وَسَيِّئَ الْأَخْلَاقِ لَا يَقِي سَيِّئَهَا إِلَّا أَنْتَ</p>
                <p class="mt-5">"Ya Allah, berilah petunjuk kepadaku untuk berbuat sebaik-baik amalan, sebaik-baik akhlak, tidak ada yang bisa menunjuki untuk berbuat sebaik-baiknya kecuali Engkau. Dan lindungi kami dari jeleknya amalan dan jeleknya akhlak, dan tidak ada yang melindungi dari kejelekannya kecuali Engkau."</p>
            </div>
        </section>
        <section class="mb-8">
            <div class="heading">
                <span class="number">4</span>
                <h3>Memohon taqdir yang terbaik</h3>
            </div>
            <div class="card">
                <p class="doa">اَللَّهُمَّ بِعِلْمِكَ الْغَيْبِ وَقُدْرَتِكَ عَلَى الْخَلْقِ أَحْيِنِيْ مَا عَلِمْتَ الْحَيَاةَ خَيْراً لِيْ، وَتَوَفَّنِيْ إِذَا عَلِمْتَ الْوَفَاةَ خَيْراً لِيْ، اَللَّهُمَّ وَأَسْأَلُكَ خَشْيَتَكَ فِي الْغَيْبِ وَالشَّهَادَةِ، وَأَسْأَلُكَ كَلِمَةَ الْحَقِّ فِي الرِّضَا وَالْغَضَبِ، وَأَسْأَلُكَ الْقَصْدَ فِي الْفَقْرِ وَالْغِنَى، وَأَسْأَلُكَ نَعِيْماً لَا يَنْفَدُ، وَأَسْأَلُكَ قُرَّةَ عَيْنٍ لَا تَنْقَطِعُ، وَأَسْأَلُكَ الرِّضَا بَعْدَ الْقَضَاءِ، وَأَسْأَلُكَ بَرْدَ الْعَيْشِ بَعْدَ الْمَوْتِ، وَأَسْأًلُكَ لَذَّةَ النَّظَرِ إِلَى وَجْهِكَ، وَالشَّوْقَ إِلَى لِقَائِكَ، فِي غَيْرِ ضَرَّاءٍ مُضِرَّةٍ، وَلَا فِتْنَةَ مُضِلَّةً، اَللَّهُمَّ زَيِّنَّا بِزِيْنَةِ الْإِيْمَانِ، وَاجْعَلْنَا هُدَاةً مُهْتَدِيْنَ</p>
                <p class="mt-5">"Ya Allah dengan ilmu-Mu yang gaib dan Kuasa-Mu ada semua makhluk hidupkanlah aku selama yang engkau ketahui bahwa kehidupan lebih baik bagiku dan Matikanlah aku jika kematian Lebih Baik bagiku.</p>
                <p class="mt-3">Ya Allah aku memohon kepada-Mu rasa takut kepadamu baik dalam keadaan tidak terlihat orang maupun terang-terangan di hadapan orang banyak.</p>
                <p class="mt-3">aku mohon kepadamu ucapan yang benar dan keadilan baik di saat marah ataupun Ridho.</p>
                <p class="mt-3">aku memohon kepada-Mu sikap pertengahan baik di saat miskin maupun kaya.</p>
                <p class="mt-3">aku memohon kepada-Mu kenikmatan yang tidak akan musnah.</p>
                <p class="mt-3">aku memohon kepada-Mu ketenangan yang tidak akan habis dan tidak akan terputus.</p>
                <p class="mt-3">aku memohon kepada-Mu Sikap Ridho setelah turunnya ketetapanmu.</p>
                <p class="mt-3">aku memohon kepada-Mu kehidupan yang baik setelah kematian.</p>
                <p class="mt-3">aku memohon kepada-Mu kenikmatan memandang wajahmu dan aku memohon kepada-Mu Kerinduan bertemu denganmu tidak dalam keadaan sulit yang memudharatkan dan tidak pula dalam keadaan fitnah ujian yang menyesatkan.</p>
                <p class="mt-3">Ya Allah  Hiasilah kami dengan hiasan iman dan jadikanlah Kami para Pemberi Petunjuk yang mendapatkan petunjuk".</p>
            </div>
        </section>
        <section class="mb-8">
            <div class="heading">
                <span class="number">5</span>
                <h3>Memohon segala kebaikan dan berlindung dari segala keburukan yang Nabi ﷺ pernah Memohon dan berlindung darinya.</h3>
            </div>
            <div class="card">
                <p class="doa">اَللَّهُمَّ إِنِّيْ أَسْأَلُكَ مِنَ الْخَيْرِ كُلِّهِ عَاجِلِهِ وَآجِلِهِ مَا عَلِمْتُ مِنْهُ وَمَا لَمْ أَعْلَمْ، وَأَعُوْذُ بِكَ مِنَ الشَّرِّ كُلِّهِ عَاجِلِهِ وَآجِلِهِ مَا عَلِمْتُ مِنْهُ وَمَاَ لَمْ أَعْلَمْ، اَللَّهُمَّ إِنِّيْ أَسْأَلُكَ مِنْ خَيْرِ مَا سَأَلَكَ عَبْدُكَ وَنَبِيُّكَ، وَأَعُوْذُ بِكَ مِنْ شَرِّ مَا عَاذَ بِهِ عَبْدُكَ وَنَبِيُّكَ، اَللَّهُمَّ إِنِّيْ أَسْأَلُكَ الْجَنَّةَ وَمَا قَرَّبَ إِلَيْهَا مِنْ قَوْلٍ أَوْ عَمَلٍ، وَأَعُوْذُ بِكَ مِنَ النَّارِ وَمَا قَرَّبَ إِلَيْهَا مِنْ قَوْلٍ أَوْ عَمَلٍ، وَأَسْأَلُكَ أَنْ تَجْعَلَ كُلَّ قَضَاءٍ قَضَيْتَهُ لِيْ خَيْراً</p>
                <p class="mt-5">"Ya Allah aku memohon kepada-Mu semua kebaikan sekarang dan yang akan datang yang aku ketahui dan tidak aku ketahui dan aku berlindung kepadamu dari seluruh keburukan sekarang dan yang akan datang.</p>
                <p class="mt-3">aku memohon kepada-Mu segala apa yang pernah hamba dan Nabimu Mohon Kepadamu.</p>
                <p class="mt-3">aku memohon kepada-Mu surga dan segala yang mendekatkan diriku kepadanya daripada ucapan dan amal dan aku berlindung kepadamu dari neraka dan yang menyelamatkan diriku darinya baik berupa ucapan dan amal.</p>
                <p class="mt-3">aku mohon kepada-Mu Agar engkau menjadikan semua takdir yang telah engkau tetapkan untukku adalah yang terbaik untukku".</p>
            </div>
        </section>
{% endblock %}