{% extends "_layout.html" %}

{% set child = true %}
{% set title = "Doa Pilihan" %}
{% set doa = true %}
{% set pengampunan = true %}

{% block content %}
        <section class="mb-8">
            <div class="heading">
                <span class="number">1</span>
                <h3>Ketika malam qodar</h3>
            </div>
            <div class="card">
                <p class="doa">اَللَّهُمَّ إِنَّكَ عَفُوٌّ، تُحِبُّ العَفْوَ فَاعْفُ عَنِّي</p>
                <p class="mt-5">"Ya Allah, sesungguhnya Engkau Maha Pemaaf, menyukai permintaan maaf, maka maafkanlah aku."</p>
            </div>
        </section>
        <section class="mb-8">
            <div class="heading">
                <span class="number">2</span>
                <h3>Memohon ampunan dari Allah Yang Maha Agung</h3>
            </div>
            <div class="card">
                <p class="doa">أَسْتَغْفِرُ اللَّهَ الْعَظِيْمَ الَّذِيْ لاَ إِلَـٰهَ إِلاَّ هُوَ الْحَيُّ الْقَيُّوْمُ وَأَتُوْبُ إِلَيْهِ</p>
                <p class="mt-5">"Aku minta ampun kepada Allah Yang Maha Agung, tidak ada sesembahan yang berhak disembah kecuali Dia, Yang Hidup dan terus-menerus mengurus makhlukNya, dan aku bertaubat kepada-Nya."</p>
            </div>
        </section>
        <section class="mb-8">
            <div class="heading">
                <span class="number">3</span>
                <h3>Memohon ampun dari kedzaliman diri</h3>
            </div>
            <div class="card">
                <p class="doa">اَللَّهُمَّ إِنِّيْ ظَلَمْتُ نَفْسِيْ ظُلْمًا كَثِيْرًا، وَلاَ يَغْفِرُ الذُّنُوْبَ إِلاَّ أَنْتَ، فَاغْفِرْ لِيْ مَغْفِرَةً مِنْ عِنْدِكَ، وَارْحَمْنِيْ، إِنَّكَ أَنْتَ الْغَفُوْرُ الرَّحِيْمُ</p>
                <p class="mt-5">"Ya Allah, sungguh aku telah menzalimi diriku dengan kezaliman yang banyak, dan tidak ada yang dapat mengampuni dosa-dosa kecuali Engkau. Maka ampunilah aku dengan suatu pengampunan dari sisi-Mu, dan rahmatilah aku. Sesungguhnya Engkau Maha Pengampun lagi Maha Penyayang."</p>
            </div>
        </section>
        <section class="mb-8">
            <div class="heading">
                <span class="number">4</span>
                <h3>Memohon ampunan dari segala bentuk dosa</h3>
            </div>
            <div class="card">
                <p class="doa">اَللَّهُمَّ اغْفِرْ لِيْ خَطِيْئَتِيْ وَجَهْلِيْ، وَإِسْرَافِيْ فِي أَمْرِيْ، وَمَا أَنْتَ أَعْلَمُ بِهِ مِنِّيْ. اَللَّهُمَّ اغْفِرْ لِيْ جَدِّيْ وَهَزْلِيْ، وَخَطَئِيْ وَعَمْدِيْ، وَكُلُّ ذَالِكَ عِنْدِيْ. اَللَّهُمَّ اغْفِرْ لِيْ مَا قَدَّمْتُ وَمَا أَخَّرْتُ، وَمَا أَسْرَرْتُ وَمَا أَعْلَنْتُ، وَمَا أَنْتَ أَعْلَمُ بِهِ مِنِّيْ أَنْتَ الْمُقَدِّمُ وَأَنْتَ الْمُؤَخِّرُ وَأَنْتَ عَلَى كُلِّ شَيْءٍ قَدِيْرٌ</p>
                <p class="mt-5">"Ya Allah, ampunilah kesalahanku dan kebodohanku, berlebih-lebihan dalam perkaraku, dan apa yang Engkau lebih mengetahui dari diriku. Ya Allah, ampunilah aku dalam kesungguhanku dan kelalaianku, kesalahanku dan kesengajaanku, dan semua itu berasal dari sisiku. Ya Allah, ampunilah aku dari dosa yang telah lalu dan yang akan datang, yang aku sembunyikan dan yang aku tampakkan, dan dosa yang Engkau lebih mengetahuinya dari pada aku. Engkaulah Yang Maha Mendahulukan dan Yang Mengakhirkan, dan Engkau Mahakuasa atas segala sesuatu."</p>
            </div>
        </section>
        <section class="mb-8">
            <div class="heading">
                <span class="number">5</span>
                <h3>Agar diampuni dan tidak dihinakan pada hari kiamat</h3>
            </div>
            <div class="card">
                <p class="doa">رَبَّنَا إِنَّنَا سَمِعْنَا مُنَادِيًا يُنَادِي لِلْإِيمَانِ أَنْ آمِنُوا بِرَبِّكُمْ فَآمَنَّا رَبَّنَا فَاغْفِرْ لَنَا ذُنُوبَنَا وَكَفِّرْ عَنَّا سَيِّئَاتِنَا وَتَوَفَّنَا مَعَ الْأَبْرَارِ رَبَّنَا وَآتِنَا مَا وَعَدْتَنَا عَلَى رُسُلِكَ وَلَا تُخْزِنَا يَوْمَ الْقِيَامَةِ إِنَّكَ لَا تُخْلِفُ الْمِيعَادَ</p>
                <p class="mt-5">"Ya Tuhan kami, sesungguhnya kami mendengar (seruan) yang menyeru kepada iman, (yaitu): “Berimanlah kamu kepada Tuhanmu”, maka kamipun beriman. Ya Tuhan kami, ampunilah bagi kami dosa-dosa kami, dan hapuskanlah dari kami kesalahan-kesalahan kami, dan wafatkanlah kami beserta orang-orang yang banyak berbakti. Ya Tuhan kami, berilah kami apa yang telah Engkau janjikan kepada kami dengan perantaraan rasul-rasul Engkau. Dan janganlah Engkau hinakan kami di hari kiamat. Sesungguhnya Engkau tidak menyalahi janji." (QS. Ali Imran [3]: 193-194) </p>
            </div>
        </section>
{% endblock %}