{% extends "_layout.html" %}

{% set child = true %}
{% set title = "Doa Pilihan" %}
{% set doa = true %}
{% set rizki = true %}

{% block content %}
        <section class="mb-8">
            <div class="heading">
                <span class="number">1</span>
                <h3>Memohon umur yang panjang dan keberkahan</h3>
            </div>
            <div class="card">
                <p class="doa">اللَّهُمَّ أكْثِرْ مَالِي، وَوَلَدِي، وَبَارِكْ لِي فِيمَا أعْطَيْتَنِي وَأطِلْ حَيَاتِي عَلَى طَاعَتِكَ، وَأحْسِنْ عَمَلِي وَاغْفِرْ لِي</p>
                <p class="mt-5">"Ya Allah perbanyaklah harta dan anakku serta berkahilah karunia yang Engkau beri. Panjangkanlah umurku dalam ketaatan pada-Mu dan baguskanlah amalku serta ampunilah dosa-dosaku."</p>
                <p class="text-xs mt-4 opacity-60">Referensi: <a href="https://rumaysho.com/13558-ingin-umur-panjang.html" class="underline">Rumaysho</a></p>
            </div>
        </section>
        <section class="mb-8">
            <div class="heading">
                <span class="number">2</span>
                <h3>Memohon dicukupkan dengan yang halal</h3>
            </div>
            <div class="card">
                <p class="doa">اللَّهُمَّ اكْفِنِى بِحَلاَلِكَ عَنْ حَرَامِكَ وَأَغْنِنِى بِفَضْلِكَ عَمَّنْ سِوَاكَ</p>
                <p class="mt-5">"Ya Allah cukupkanlah aku dengan yang halal dan jauhkanlah aku dari yang haram, dan cukupkanlah aku dengan karunia-Mu dari bergantung pada selain-Mu."</p>
                <p class="text-xs mt-4 opacity-60">Referensi: <a href="https://rumaysho.com/13118-kumpulan-doa-pembuka-pintu-rezeki.html" class="underline">Rumaysho</a></p>
            </div>
        </section>
        <section class="mb-8">
            <div class="heading">
                <span class="number">3</span>
                <h3>Memohon pengasihan Allah, petunjuk serta keselamatan dari-Nya</h3>
            </div>
            <div class="card">
                <p class="doa">اللَّهُمَّ اغْفِرْ لِي ، وَارْحَمْنِي ، وَاهْدِني ، وَعَافِني ، وَارْزُقْنِي</p>
                <p class="mt-5">"Ya Allah, ampunilah aku, kasihanilah aku, berilah petunjuk padaku, selamatkanlah aku (dari berbagai penyakit), dan berikanlah rezeki kepadaku."</p>
                <p class="text-xs mt-4 opacity-60">Referensi: <a href="https://rumaysho.com/13118-kumpulan-doa-pembuka-pintu-rezeki.html" class="underline">Rumaysho</a></p>
            </div>
        </section>
        <section class="mb-8">
            <div class="heading">
                <span class="number">4</span>
                <h3>Memohon kemudahan rizki</h3>
            </div>
            <div class="card">
                <p class="doa">اَللَّهُمَّ إِنِّي أَسْأَلُكَ مِنْ فَضْلِكَ وَرَحْمَتِكَ، فَإِنَّهُ لاَ يَمْلِكُهَا إِلاَّ أَنْتَ</p>
                <p class="mt-5">"Ya Allah, aku memohon kepada-Mu tambahan karunia-Mu dan rahmat-Mu, karena sesungguhnya tidak ada yang memilikinya kecuali Engkau."</p>
            </div>
        </section>
        <section class="mb-8">
            <div class="heading">
                <span class="number">4</span>
                <h3>Memohon kemudahan</h3>
            </div>
            <div class="card">
                <p class="doa">اَللَّهُمَّ لاَ سَهْلَ إِلاَّ مَا جَعَلْتَهُ سَهْلاً، وَأَنْتَ تَجْعَلُ الْحَزْنَ إِذَا شِئْتَ سَهْلاً</p>
                <p class="mt-5">"Ya Allah, tidak ada kemudahan kecuali apa yang Engkau jadikan mudah. Sedang yang susah bisa Engkau jadikan mudah, apabila Engkau menghendakinya."</p>
            </div>
        </section>
{% endblock %}