{% extends "_layout.html" %}

{% set child = true %}
{% set title = "Doa Pilihan" %}
{% set doa = true %}
{% set orangtua = true %}

{% block content %}
        <section class="mb-8">
            <div class="heading">
                <span class="number">1</span>
                <h3>Doa Nabi Ibrahim álaihis salam</h3>
            </div>
            <div class="card">
                <p class="doa">رَبَّنَا اغْفِرْ لِي وَلِوَالِدَيَّ وَلِلْمُؤْمِنِينَ يَوْمَ يَقُومُ الْحِسَابُ</p>
                <p class="mt-5">"Ya Tuhan kami, berikanlah ampunan kepadaku dan kedua ibu bapakku dan orang-orang yang beriman pada hari terjadinya hisab (hari kiamat)." (QS. Ibrahim [14]: 41)</p>
            </div>
        </section>
        <section class="mb-8">
            <div class="heading">
                <span class="number">2</span>
                <h3>Doa Nabi Nuuh álaihis salam</h3>
            </div>
            <div class="card">
                <p class="doa">رَّبِّ اغْفِرْ لِي وَلِوَالِدَيَّ وَلِمَن دَخَلَ بَيْتِيَ مُؤْمِنًا وَلِلْمُؤْمِنِينَ وَالْمُؤْمِنَاتِ وَلَا تَزِدِ الظَّالِمِينَ إِلَّا تَبَارًا</p>
                <p class="mt-5">"Ya Tuhanku! Ampunilah aku, ibu bapakku, orang yang masuk ke rumahku dengan beriman dan semua orang yang beriman laki-laki dan perempuan. Dan janganlah Engkau tambahkan bagi orang-orang yang zalim itu selain kebinasaan." (QS. Nuh [71]: 28)</p>
            </div>
        </section>
        <section class="mb-8">
            <div class="heading">
                <span class="number">3</span>
                <h3>Bakti kepada orangtua</h3>
            </div>
            <div class="card">
                <p class="doa">رَّبِّ ارْحَمْهُمَا كَمَا رَبَّيَانِي صَغِيرًا</p>
                <p class="mt-5">"Wahai Tuhanku, kasihilah mereka keduanya, sebagaimana mereka berdua telah mendidik aku waktu kecil." (QS. Al-Isra' [17]: 24)</p>
                <p class="text-xs mt-4 opacity-60">Di antara bentuk baktinya seorang hamba kepada kedua orangtuanya adalah dengan mendoakan keduanya.</p>
            </div>
        </section>
{% endblock %}