{% extends "_layout.html" %}

{% set child = true %}
{% set title = "Doa Pilihan" %}
{% set doa = true %}
{% set ilmu = true %}

{% block content %}
        <section class="mb-8">
            <div class="heading">
                <span class="number">1</span>
                <h3>Memohon tambahan ilmu</h3>
            </div>
            <div class="card">
                <p class="doa">اَللَّهُمَّ انْفَعْنِيْ مَا عَلَّمْتَنِيْ وَعَلِّمْنِيْ مَا يَنْفَعُنِيْ وَزِدْنِيْ عِلْماً</p>
                <p class="mt-5">"Ya Allah, berilah manfaat atas apa yang Engkau ajarkan kepadaku, ajarilah aku hal-hal yang bermanfaat bagiku, dan tambahilah aku ilmu [HR. at-Tirmidzi dan Ibnu Mâjah, dishahihkan al-Albâni]</p>
                <p class="text-xs mt-4 opacity-60">Referensi: <a href="https://almanhaj.or.id/3770-rasulullah-shallallahu-alaihi-wa-sallam-selalu-memohon-tambahan-ilmu.html" class="underline">Almanhaj</a></p>
            </div>
        </section>
        <section class="mb-8">
            <div class="heading">
                <span class="number">2</span>
                <h3>Memohon tambahan iman, pemahaman, keyakinan dan ilmu</h3>
            </div>
            <div class="card">
                <p class="doa">اَللَّهُمَّ زِدْنِيْ إِيْمَاناً وَفِقْهاً وَيَقِيْناً وَعِلْماً</p>
                <p class="mt-5">"Ya Allah, berilah aku tambahan iman, pemahaman, keyakinan dan ilmu."</p>
                <p class="text-xs mt-4 opacity-60">Referensi: <a href="https://almanhaj.or.id/3770-rasulullah-shallallahu-alaihi-wa-sallam-selalu-memohon-tambahan-ilmu.html" class="underline">Almanhaj</a></p>
            </div>
        </section>
        <section class="mb-8">
            <div class="heading">
                <span class="number">3</span>
                <h3>Berlindung dari ilmu yang tidak bermanfaat dan hati yang tidak khusyu', jiwa yang tidak pernah puas dan doa yang tidak mustajab</h3>
            </div>
            <div class="card">
                <p class="doa">اَللَّهُمَّ إِنِّي أَعُوْذُبِكَ مِنْ عِلْمٍ لَا يَنْفَعُ، وَمِنْ قَلْبٍ لَا يَخْشَعُ، وَمِنْ نَفْسٍ لَا تَشْبَعُ، وَمِنْ دَعْوَةٍ لَا يُسْتَجَابُ لَهَا</p>
                <p class="mt-5">"Ya Allah, sesungguhnya aku berlindung kepada-Mu dari ilmu yang tidak bermanfaat, hati yang tidak khusyuk, jiwa yang tidak merasa kenyang (puas), dan dari doa yang tidak dikabulkan."</p>
            </div>
        </section>
        <section class="mb-8">
            <div class="heading">
                <span class="number">4</span>
                <h3>Memohon ilmu yang bermanfaat</h3>
            </div>
            <div class="card">
                <p class="doa">اللَّهُمَّ إِنِّي أَسْأَلُكَ عِلْمًا نَافِعًا وَرِزْقًا طَيِّبًا وَعَمَلًا مُتَقَبَّلًا</p>
                <p class="mt-5">"Ya Allah, sungguh aku memohon kepada-Mu ilmu yang bermanfaat (bagi diriku dan orang lain), rizki yang halal dan amal yang diterima (di sisi-Mu dan mendapatkan ganjaran yang baik)."</p>
                <p class="text-xs mt-4 opacity-60">Referensi: <a href="https://rumaysho.com/13118-kumpulan-doa-pembuka-pintu-rezeki.html" class="underline">Rumaysho</a></p>
            </div>
        </section>
{% endblock %}