{% extends "_layout.html" %}

{% set child = true %}
{% set title = "Doa Pilihan" %}
{% set doa = true %}
{% set anak = true %}

{% block content %}
        <section class="mb-8">
            <div class="heading">
                <span class="number">1</span>
                <h3>Terkait Anak dan Istri</h3>
            </div>
            <div class="card">
                <p class="doa">رَبَّنَا هَبْ لَنَا مِنْ أَزْوَاجِنَا وَذُرِّيَّاتِنَا قُرَّةَ أَعْيُنٍ وَاجْعَلْنَا لِلْمُتَّقِينَ إِمَامًا</p>
                <p class="mt-5">"Ya Rabb kami, anugerahkanlah kepada kami istri-istri kami dan keturunan kami sebagai penyenang hati (kami), dan jadikanlah kami imam bagi orang-orang yang bertakwa." (QS. Al-Furqan [25]: 74) </p>
            </div>
        </section>
        <section class="mb-8">
            <div class="heading">
                <span class="number">2</span>
                <h3>Berlindung Dari Keburukan Tetangga, Pasangan, Anak, Harta Dan Teman Dekat</h3>
            </div>
            <div class="card">
                <p class="doa">اَللَّهُمَّ إِنِّيْ أَعُوْذُ بِكَ مِنْ جَارِ السُّوْءِ، وَمِنْ زَوْجٍ تُشَيِّبُنِيْ قَبْلَ المَشِيْبِ، وَمِنْ وَلَدٍ يَكُوْنُ عَلَيَّ رَبًّا، وَمِنْ مَالٍ يَكُوْنُ عَلَيَّ عَذَابًا، وَمِنْ خَلِيْلٍ مَاكِرٍ عَيْنُهُ تَرَانِيْ، وَقَلْبُهُ يَرْعَانِيْ، إِنْ رَأَى حَسَنَةً دَفَنَهَا، وَإِذَا رَأَى سَيِّئَةً أَذَاعَهَا</p>
                <p class="mt-5">"Ya Allah, aku berlindung kepada-Mu dari tetangga yang buruk, dan dari pasangan yang membuatku beruban sebelum waktunya, dan dari anak yang menguasaiku, dan dari harta yang menjadi azab atasku, dan dari teman dekat pembuat makar, matanya melihatku sedang hatinya mengawasiku, jika ia melihat kebaikan pada diriku maka ia menyembunyikannya, dan jika ia melihat keburukan maka ia menyebarkannya".</p>
            </div>
        </section>
        <section class="mb-8">
            <div class="heading">
                <span class="number">3</span>
                <h3>Agar Diri dan Keluarga Tetap Mendirikan Shalat (Nabi Ibrahim)</h3>
            </div>
            <div class="card">
                <p class="doa">رَبِّ اجْعَلْنِي مُقِيمَ الصَّلاَةِ وَمِنْ ذُرِّيَّتِي رَبَّنَا وَتَقَبَّلْ دُعَاءِ</p>
                <p class="mt-5">"Ya Rabb-ku, jadikanlah aku dan anak cucuku orang-orang yang tetap mendirikan shalat, ya Tuhan kami, perkenankanlah doaku". (QS.Ibrahim [14]: 40).</p>
            </div>
        </section>
{% endblock %}