{% extends "_layout.html" %}

{% set child = true %}
{% set other = true %}
{% set title = "Pembuka Majelis" %}

{% block content %}

    <section class="mt-8">
        <div class="heading">
            <span class="number">1</span>
            <h3>Segala puji hanya milik Allah, dan shalawat kepada Nabi ﷺ</h3>
        </div>
        <div class="card">
            <p class="doa">الـحَمْدُ للهِ وَالصَّلَاةُ وَالسَّلَامُ عَلَى رَسُوْلِ اللهِ وَعَلَى آلِهِ وَصَحْبِهِ وَمَنْ وَالَاهَ ، أَمَّا بَعْدُ</p>
            <p class="mt-5">Segala puji hanya milik Allah, shalawat dan salam selalu tercurahkan atas utusan Allah, keluarga, sahabat, dan yang mencintainya. <span class="italic">adapun selanjutnya</span>.</p>
        </div>
    </section>

    <section class="mt-8">
        <div class="heading">
            <span class="number">2</span>
            <h3>Segala puji hanya milik Allah, dan cukup Dia</h3>
        </div>
        <div class="card">
            <p class="doa">الْحَمْدُ للهِ وَكَفَى، وَالصَّلاَةُ وَالسَّلاَمُ عَلىَ رَسُولِهِ الْـمُصْطَفَى، وَعَلىَ آلِهِ وَصَحْبِهِ وَمَنِ اهْتَدَى، أَمَّا بَعْدُ</p>
            <p class="mt-5">Segala puji hanya bagi Alloh, dan cukup Dia. Salawat dan salam tercurah untuk seorang utusan-Nya yang terpilih, keluarganya, sahabatnya, dan setiap orang yang menempuh jalan hidayah. <span class="italic">adapun selanjutnya</span>.</p>
        </div>
    </section>

    <section class="mt-8">
        <div class="heading">
            <span class="number">3</span>
            <h3>Dengan Nama Allah, segala puji hanya milik Allah</h3>
        </div>
        <div class="card">
            <p class="doa">بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيمِ، الْحَمْدُ لِلَّهِ رَبِّ الْعَالَمِينَ، وَالصَّلَاةُ وَالسَّلَامُ عَلَى الْمَبْعُوثِ رَحْمَةً لِلْعَالَمِينَ، سَيِّدِنَا مُحَمَّدٍ وَعَلَى آلِهِ وَصَحْبِهِ أَجْمَعِينَ، وَبَعْدَ</p>
            <p class="mt-5">Dengan nama Allah Yang Maha Pengasih lagi Maha Penyayang. Segala puji bagi Allah, Tuhan semesta alam,</p>
            <p class="mt-5">Shalawat dan salam semoga terlimpahkan kepada utusan rahmat untuk seluruh alam, Nabi kita Muhammad, beserta keluarganya dan seluruh sahabatnya. <span class="italic">adapun selanjutnya</span>.</p>
        </div>
    </section>

    <section class="mt-8">
        <div class="heading">
            <span class="number">4</span>
            <h3>Segala puji hanya milik Allah, pujian yang banyak, baik dan berkah</h3>
        </div>
        <div class="card">
            <p class="doa">الْحَمْدُ لِلَّهِ حَمْدًا كَثِيرًا طَيِّبًا مُبَارَكًا فِيْهِ كَمَا يُحِبُّ رَبُّنَا وَيَرْضَى</p>
            <p class="mt-5">Segala puji hanya milik Allah, puji yang banyak, baik, dan berkah di dalamnya, seperti yang dicintai dan diridhai oleh-Nya.</p>
            <p class="doa">وَأَشْهَدُ أَنْ لَا إِلَهَ إِلَّا اللهُ وَحْدَهُ لَا شَرِيْكَ لَهُ، وَأَشْهَدُأَنَّ مُحَمَّدًا عَبْدُهُ وَرَسُوْلُهُ</p>
            <p class="mt-5">Dan aku bersaksi bahwa tidak ada Tuhan selain Allah, yang tidak memiliki sekutu, dan aku bersaksi bahwa Muhammad adalah hamba dan utusan-Nya.</p>
            <p class="doa"> اللَّهُمَّ صَلِّ وَسَلِّمْ عَلَى نَبِيِّنَا مُحَمَّدٍ وَعَلَى آلِهِ وَصَحْبِهِ وَسَلِّمْ، أَمَّا بَعْدُ</p>
            <p class="mt-5">Ya Allah, limpahkanlah rahmat dan salam kepada Nabi Muhammad, keluarganya, dan sahabat-sahabatnya. <span class="italic">adapun selanjutnya</span>.</p>
        </div>
    </section>

    <section class="mt-8">
        <div class="heading">
            <span class="number">5</span>
            <h3>Segala puji hanya milik Allah atas kebaikan-Nya</h3>
        </div>
        <div class="card">
            <p class="doa">الـحَمْدُ للهِ عَلَى إِحْسَانِهِ ، وَالشُّكْرُ لَهُ عَلَى تَوْفِيْقِهِ وَامْتِنَانِهِ</p>
            <p class="mt-5">Segala puji hanya milik Allah atas kebaikan-Nya, segala syukur hanya kepada Allah atas taufiq dan karunia-Nya,</p>
            <p class="doa">وَأَشْهَدُ أَنْ لَا إِلَهَ إِلَّا اللهُ وَحْدَهُ لَا شَرِيْكَ لَهُ تَعْظِيْمًا لِشَأْنِهِ</p>
            <p class="mt-5">aku bersaksi bahwa tiada sesembahan yang berhak disembah kecuali Allah satu-satu-Nya, tidak ada sekutu bagi-Nya segala puji bagi-Nya,</p>
            <p class="doa">وَأَشْهَدَ أَنَّ مُـحَمَّدًا عَبْدُهُ وَرَسُوْلُهُ الدَّاعِي إِلَى رِضْوَانِهِ</p>
            <p class="mt-5">aku bersaksi pula bahwa Muhammad adalah hamba dan utusan-Nya yang menyeru kepada keridhaan-Nya,</p>
            <p class="doa">أَللَّهُمَّ صَلِى عَلَيهِ وعَلَ أَلِهِ وَأَصْحَابِهِ وَإِخْوَانِهِ، أَمَّا بَعْدُ</p>
            <p class="mt-5">Ya Allah, limpahkanlah rahmat kepada Nabi Muhammad, keluarganya, sahabat-sahabatnya, dan saudara-saudaranya (yang beriman). <span class="italic">adapun selanjutnya</span>.</p>
        </div>
    </section>
    
    <section class="mt-8">
        <div class="heading">
            <span class="number">6</span>
            <h3>Segala puji hanya milik Allah yang telah memberi petunjuk</h3>
        </div>
        <div class="card">
            <p class="doa">الْحَمْدُ لِلَّهِ الَّذِي هَدَانَا لِهَذَا وَمَا كُنَّا لِنَهْتَدِيَ لَوْلَا أَنْ هَدَانَا اللَّهُ لَقَدْ جَاءَتْ رُسُلُ رَبِّنَا بِالْحَقِّ وَنُودُوا أَنْ تِلْكُمُ الْجَنَّةُ أُورِثْتُمُوهَا بِمَا كُنْتُمْ تَعْمَلُونَ</p>
            <p class="mt-5">Segala puji bagi Allah yang telah memberi petunjuk kepada kami untuk mencapai keadaan ini. Dan tidaklah mungkin kami dapat memperoleh petunjuk, kalau tidak karena Allah. Sesungguhnya telah datang kepada kami utusan-utusan Tuhan kami dengan membawa kebenaran. Dan kami telah dipanggil untuk memperoleh surga yang menjadi hak kami karena amalan-amalan kami.</p>
            <p class="doa">أَشْهَدُ أَنْ لاَ إِلَهَ إِلاَّاللهُ وَحْدَهُ لاَ شَرِيْكَ لَهُ وَأَشْهَدُ أَنَّ مُحَمَّداً عَبْدُهُ وَرَسُوْلُهُ</p>
            <p class="mt-5">Aku bersaksi bahwa tidak ada tuhan selain Allah, yang satu, tidak ada sekutu bagi-Nya, dan aku bersaksi bahwa Muhammad adalah hamba-Nya dan Rasul-Nya.</p>
            <p class="doa">اَللَّهُمّ صَلِّ وَسَلِّمْ عَلى مُحَمّدٍ وَعَلى آلِهِ وِأَصْحَابِهِ وَمَنْ تَبِعَهُمْ بِإِحْسَانٍ إِلَى يَوْمِ الدّيْن، أَمَّا بَعْدُ</p>
            <p class="mt-5">Ya Allah, limpahkanlah shalawat dan salam kepada Nabi Muhammad, keluarganya, sahabat-sahabatnya, dan orang-orang yang mengikuti mereka dengan baik hingga hari kiamat. <span class="italic">adapun selanjutnya</span>.</p>
        </div>
    </section>

    <section class="mt-8">
        <div class="heading">
            <span class="number">7</span>
            <h3>Segala puji hanya milik Allah, Raja Yang Maha Kuasa</h3>
        </div>
        <div class="card">
            <p class="doa">الحَمْدُ للهِ الْمَلِكِ الدَّيَّانِ، وَالصَّلَاةُ وَالسَّلَامُ عَلَى مُحَمَّدٍ سَيِّدِ وَلَدِ عَدْنَانَ، وَعَلَى آلِهِ وَصَحْبِهِ وَتَابِعِيْهِ عَلَى مَرِّ الزَّمَانِ</p>
            <p class="mt-5">Segala puji bagi Allah, Raja Yang Mahakuasa dan Yang Memiliki segala agama. Shalawat dan salam semoga dilimpahkan kepada Nabi Muhammad, sang pemimpin keturunan Adnan, keluarganya, para sahabatnya, dan pengikut-pengikutnya hingga akhir zaman.</p>
            <p class="doa">وَأَشْهَدُ أَنْ لَّا إِلهَ إِلَّا اللهُ وَحْدَهُ لَا شَرِيْكَ لَهُ ، وَأَشْهَدُ أَنَّ مُحَمَّدًا عَبْدُهُ وَرَسُوْلُهُ الَّذِيْ كَانَ خُلُقُهُ الْقُرْآنَ، أَمَّا بَعْدُ</p>
            <p class="mt-5">Aku bersaksi bahwa tidak ada tuhan selain Allah, yang satu, tidak ada sekutu bagi-Nya, dan aku bersaksi bahwa Muhammad adalah hamba-Nya dan Rasul-Nya yang akhlaknya seperti Al-Quran. <span class="italic">adapun selanjutnya</span>.</p>
        </div>
    </section>

    <section class="mt-8">
        <div class="heading">
            <span class="number">8</span>
            <h3>Khutbatul Hajah</h3>
        </div>
        <div class="card">
            <p class="doa">إنَّ الـحَمْدَ لِلّهِ نَـحْمَدُهُ وَنَسْتَعِيْنُهُ وَنَسْتَغْفِرُهُ، وَنَعُوذُ بِاللهِ مِنْ شُرُورِ أَنْفُسِنَا وَمِنْ سَيِّئَاتِ أَعْمَالِنَا، مَنْ يَهْدِهِ اللهُ فَلَا مُضِلَّ لَهُ، وَمَنْ يُضْلِلْ فَلَا هَادِيَ لَهُ، وَأَشْهَدُ أَن لاَّ إِلَهَ إِلاَّ الله وَحْدَهُ لَا شَرِيْكَ لَهُ وَأَشْهَدُ أَنَّ مُـحَمَّداً عَبْدُهُ وَرَسُولُه</p>
            <p class="mt-5">Segala puji hanya bagi Allah, kami memuji-Nya, memohon pertolongan dan ampunan kepada-Nya, kami berlindung kepada Allah dari kejahatan diri-diri kami dan kejelekan amal perbuatan kami. Barangsiapa yang Allah beri petunjuk, maka tidak ada yang dapat menye-satkannya, dan barangsiapa yang Allah sesatkan, maka tidak ada yang dapat memberinya petunjuk. Aku bersaksi bahwasanya tidak ada sesembahan yang berhak diibadahi dengan benar kecuali Allah saja, tidak ada sekutu bagi-Nya, dan aku bersaksi bahwasanya Nabi Muhammad adalah hamba dan Rasul-Nya.</p>
            <p class="doa">يٰٓأَيُّهَا الَّذِينَ ءَامَنُوا اتَّقُوا اللَّهَ حَقَّ تُقَاتِهِۦ وَلَا تَمُوتُنَّ إِلَّا وَأَنْتُمْ مُّسْلِمُونَ</p>
            <p class="mt-5">"Hai orang-orang yang beriman, bertakwalah kepada Allah dengan sebenar-benar takwa kepada-Nya, dan janganlah sekali-kali kamu mati melainkan dalam keadaan beragama Islam." (QS. Ali 'Imran: 102)</p>
            <p class="doa">يٰٓأَيُّهَا النَّاسُ اتَّقُوا رَبَّكُمُ الَّذِى خَلَقَكُمْ مِّنْ نَّفْسٍ وٰحِدَةٍ وَخَلَقَ مِنْهَا زَوْجَهَا وَبَثَّ مِنْهُمَا رِجَالًا كَثِيرًا وَنِسَآءً ۚ وَاتَّقُوا اللَّهَ الَّذِى تَسَآءَلُونَ بِهِۦ وَالْأَرْحَامَ ۚ إِنَّ اللَّهَ كَانَ عَلَيْكُمْ رَقِيبًا</p>
            <p class="mt-5">"Hai sekalian manusia, bertakwalah kepada Rabb-mu yang telah menciptakanmu dari diri yang satu, dan daripadanya Allah menciptakan isterinya, dan dari-pada keduanya Allah memperkembang-biakkan laki-laki dan perempuan yang banyak. Dan bertakwalah kepada Allah yang dengan (menggunakan) Nama-Nya kamu saling meminta satu sama lain, dan (peliharalah) hubungan silaturahmi. Sesungguhnya Allah selalu menjaga dan menga-wasimu." (QS. An-Nisaa': 1)</p>
            <p class="doa">يٰٓأَيُّهَا الَّذِينَ ءَامَنُوا اتَّقُوا اللَّهَ وَقُولُوا قَوْلًا سَدِيدًا ، يُصْلِحْ لَكُمْ أَعْمٰلَكُمْ وَيَغْفِرْ لَكُمْ ذُنُوبَكُمْ ۗ وَمَنْ يُطِعِ اللَّهَ وَرَسُولَهُۥ فَقَدْ فَازَ فَوْزًا عَظِيمًا</p>
            <p class="mt-5">"Hai orang-orang yang beriman, bertakwalah kamu kepada Allah dan ucapkanlah perkataan yang benar, niscaya Allah memperbaiki bagimu amalan-amalanmu dan mengampuni bagimu dosa-dosamu. Dan barangsiapa mentaati Allah dan Rasul-Nya, maka sesungguhnya ia telah mendapat kemenangan yang besar." (QS. Al-Ahzaab: 70-71)</p>
            <p class="doa">أَمَّا بَعْدُ: وَ إِنَّ أَصَدَقَ الْحَدِيثِ كِتَابُ اللَّهِ ، وَأَحْسَنَ الْهَدْيِ هَدْيُ مُحَمَّدٍ صَلَّى اللَّهُ عَلَيْهِ وَسَلَّمَ ، وَشَرَّ الأُمُورِ مُحْدَثَاتُهَا ، وَكُلَّ مُحْدَثَةٍ بِدْعَةٌ ، وَكُلَّ بِدْعَةٍ ضَلالَةٌ ، وَكُلَّ ضَلالَةٍ فِي النَّارِ</p>
            <p class="mt-5">Amma ba'du:</p>
            <p class="mt-3">Sesungguhnya sebenar-benar perkataan adalah Kitabullah (al-Qur'an) dan sebaik-baik petunjuk adalah petunjuk Muhammad (as-Sunnah). Seburuk-buruk perkara adalah perkara yang diada-adakan (dalam agama), setiap yang diada-adakan (dalam agama) adalah bid'ah, setiap bid'ah adalah sesat, dan setiap kesesatan tempatnya di Neraka.</p>
        </div>
    </section>

{% endblock %}