{% extends "_layout.html" %}

{% set child = true %}
{% set title = "Doa Ketika Sakit" %}
{% set other_sakit = true %}
{% set oranglain = true %}

{% block content %}
<div class="card mt-5">
    <p class="doa">لاَ بَأْسَ طَهُوْرٌ إِنْ شَاءَ اللَّهُ</p>
    <p class="mt-5">"Tidak apa-apa, menjadi pembersih insya Allah."</p>
    <p class="text-xs mt-4 opacity-60">Untuk menunjukkan bahwa ucapan Rasulullah ﷺ kepada orang yang sakit طَهُوْرٌ adalah sebagai doa agar orang yang sakit dibersihkan dari dosa-dosanya, bukan kabar yang memastikan bahwasanya dirinya telah bersih dari dosa.</p>
</div>
<div class="card clickable mt-5" data-dzikir="7">
    <button class="card-click-area"></button>
    <div class="card-count">0</div>
    <p class="doa">أَسْأَلُ اللَّهَ الْعَظِيْمَ رَبَّ الْعَرْشِ الْعَظِيْمِ أَنْ يَشْفِيَكَ</p>
    <p class="mt-5 text-slate-500">Dibaca 7x</p>
    <p class="mt-5">"Aku memohon kepada Allah yang Maha Agung, Pemilik arsy yang agung, agar Dia menyembuhkanmu."</p>
    <span class="card-hint">Click/Tap untuk menghitung doa</span>
</div>
<div class="card mt-5">
    <p class="doa">بِاسْمِ اللهِ أَرْقِيكَ، مِنْ كُلِّ شَيْءٍ يُؤْذِيكَ، مِنْ شَرِّ كُلِّ نَفْسٍ أَوْ عَيْنِ حَاسِدٍ، اللهُ يَشْفِيكَ بِاسْمِ اللهِ أَرْقِيكَ</p>
    <p class="mt-5">"Dengan nama Allah aku meruqyah-mu, dari semua yang menyakitimu, dari kejahatan setiap jiwa dan mata hasad, semoga Allah menyembuhkanmu, Dengan nama Allah aku meruqyah-mu."</p>
    <p class="text-xs mt-4 opacity-60">نَفْسٍ ada 2 makna, pertama: jiwa seseorang, dan yang kedua adalah 'ain.</p>
</div>
<div class="card mt-5">
    <p class="doa">اَللَّهُمَّ اشْفِ عَبْدَكَ يَنْكَأُ لَكَ عَدُوًّا، أَوْ يَمْشِي لَكَ إِلَى صَلَاةٍ</p>
    <p class="mt-5">"Ya Allah, sembuhkanlah hamba-Mu ini, dia yang melawan musuh-Mu, dan dia berjalan menuju shalat jamaah karena-Mu."</p>
</div>
<div class="card mt-5">
    <p class="doa">اللَّهُمَّ رَبَّ النَّاسِ أَذْهِبِ البَاسَ، اشْفِهِ وَأَنْتَ الشَّافِي، لاَ شِفَاءَ إِلَّا شِفَاؤُكَ، شِفَاءً لاَ يُغَادِرُ سَقَمًا</p>
    <p class="mt-5">"Ya Allah, Tuhan seluruh manusia, hilangkanlah sakit ini, sembuhkanlah dia dan Engkaulah As-Syafi (Sang Penyembuh), tidak ada kesembuhan kecuali kesembuhan dari-Mu, kesembuhan yang tidak meninggalkan penyakit."</p>
    <p class="text-xs mt-4 opacity-60">أَذْهِبِ البَاسَ maksudnya meminta untuk dihilangkan rasa sakit yang amat sangat, meminta diangkatnya azab dari dirinya, dan juga meminta untuk dihilangkan kesedihannya.</p>
    <p class="text-xs mt-3 opacity-60">Disebutkan Allah subhanahu wa ta'ala yang menyembuhkan, bukan obat-obatan, hal ini dokarenakan obat-obatan tidak akan bisa memberikan manfaat jika Allah subhanahu wa ta'ala tidak menciptakan dalam obat tersebut sesuatu yang dapat menyembuhkan.</p>
</div>
<div class="mt-8 py-4 px-5 border border-slate-200 dark:border-slate-800 rounded-3xl">
    <span class="text-blue-500">Referensi</span>
    <div class="flex flex-col gap-3 mt-2">
        <a href="https://bekalislam.firanda.com/3442-doa-kepada-orang-sakit.html" class="underline leading-5 block">https://bekalislam.firanda.com/3442-doa-kepada-orang-sakit.html</a>
    </div>
</div>
{% endblock %}