{% extends "_layout.html" %}

{% set child = true %}
{% set other = true %}
{% set title = "Sholat Jenazah" %}

{% block content %}

<section class="mt-8">
    <div class="heading">
        <span class="number">1</span>
        <h3>Takbiratul Ihram (Takbir pertama), Ta'awudz & Al-Fatihah</h3>
    </div>
    <div class="card">
        <p class="doa">أَعُوّْذُ بِاللهِ مِنَ الشَّيْطَانِ الرَّجِيْمِ</p>
        <p class="doa"> بِسْمِ ٱللَّهِ ٱلرَّحْمَـٰنِ ٱلرَّحِيمِ. ٱلْحَمْدُ لِلَّهِ رَبِّ ٱلْعَـٰلَمِينَ. ٱلرَّحْمَـٰنِ ٱلرَّحِيمِ. إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ. ٱهْدِنَا ٱلصِّرَٰطَ ٱلْمُسْتَقِيمَ. صِرَٰطَ ٱلَّذِينَ أَنْعَمْتَ عَلَيْهِمْ غَيْرِ ٱلْمَغْضُوبِ عَلَيْهِمْ وَلَا ٱلضَّآلِّينَ</p>
        <p class="mt-5">Mengangkat kedua tangan sejajar pundak atau telinga, lalu mendekapkan tangan sebagaimana orang sholat biasanya.</p>
        <p class="text-xs mt-4 opacity-60">Tidak membaca doa istiftah.</p>
    </ul>
    </div>
</section>
<section class="mt-8">
    <div class="heading">
        <span class="number">2</span>
        <h3>Takbir kedua, sholawat seperti bacaan Tasyahhud</h3>
    </div>
    <div class="card">
        <p class="doa">اللَّهُمَّ صَلِّ عَلَى مُحَمَّدٍ وَأَزْوَاجِهِ وَذُرِّيَّتِهِ، كَمَا صَلَّيْتَ عَلَى آلِ إِبْرَاهِيمَ، وَبَارِكْ عَلَى مُحَمَّدٍ وَأَزْوَاجِهِ وَذُرِّيَّتِهِ، كَمَا بَارَكْتَ عَلَى آلِ إِبْرَاهِيمَ إِنَّكَ حَمِيدٌ مَجِيدٌ</p>
        <p class="mt-5">"Ya Allah rahmatilah Muhammad dan istri-istri beliau serta keturunan beliau, sebagaimana Engkau merahmati keluarga Ibrahim, dan berilah keberkahan kepada Muhammad, istri-istrinya dan keturunannya sebagaimana Engkau memberi keberkahan kepada keluarga Ibrahim, sesungguhnya Engkau Maha Terpuji dan Maha Agung."</p>
    </div>
</section>
<section class="mt-8">
    <div class="heading">
        <span class="number">3</span>
        <h3>Takbir ketiga, mendoakan si mayit</h3>
    </div>
    <div class="card">
        <p class="doa">اللهُمَّ اغْفِرْ لَهُ وَارْحَمْهُ وَعَافِهِ وَاعْفُ عَنْهُ، وَأَكْرِمْ نُزُلَهُ، وَوَسِّعْ مُدْخَلَهُ، وَاغْسِلْهُ بِالْمَاءِ وَالثَّلْجِ وَالْبَرَدِ، وَنَقِّهِ مِنَ الْخَطَايَا كَمَا نَقَّيْتَ الثَّوْبَ الْأَبْيَضَ مِنَ الدَّنَسِ، وَأَبْدِلْهُ دَارًا خَيْرًا مِنْ دَارِهِ، وَأَهْلًا خَيْرًا مِنْ أَهْلِهِ وَزَوْجًا خَيْرًا مِنْ زَوْجِهِ، وَأَدْخِلْهُ الْجَنَّةَ وَأَعِذْهُ مِنْ عَذَابِ الْقَبْرِ أَوْ مِنْ عَذَابِ النَّارِ</p>
        <p class="mt-5">"Ya Allah, ampuni dan rahmatilah dia. Selamatkanlah dan maafkanlah dia. Berilah kehormatan untuknya, luaskanlah tempat masuknya. Mandikanlah dia dengan air, es, dan embun. Bersihkanlah dia dari kesalahan sebagaimana Engkau bersihkan baju yang putih dari kotoran. Gantikanlah baginya rumah yang lebih baik dari rumahnya, isteri yang lebih baik dari isterinya. Masukkanlah dia ke dalam surga, lindungilah dari azab kubur atau azab neraka."</p>
        <p class="text-xs mt-4 opacity-60">Catatan: Do'a di atas berlaku untuk mayit laki-laki. Jika mayit perempuan, maka kata –hu atau –hi diganti dengan –haa. Contoh <em>"Allahummaghfirla-haa warham-haa …"</em>.</p>
        <p class="mt-5">Do'a khusus untuk mayit anak kecil:</p>
        <p class="doa">اَللَّهُمَّ اجْعَلْهُ لَنَا فَرَطًا وَسَلَفًا وَأَجْرًا</p>
        <p class="mt-5">"Ya Allah! Jadikan kematian anak ini sebagai simpanan pahala dan amal baik serta pahala buat kami."</p>
        <p class="text-xs mt-4 opacity-60">Referensi: <a href="https://rumaysho.com/4905-ringkasan-pengurusan-jenazah.html" class="underline">Rumaysho</a></p>
    </div>
</section>
<section class="mt-8">
    <div class="heading">
        <span class="number">4</span>
        <h3>Takbir keempat, berhenti sejenak atau membaca doa, lalu salam ke arah kanan dengan satu kali salam</h3>
    </div>
    <div class="card">
        <p class="doa">اللَّهُمَّ لاَ تَحْرِمْنَا أَجْرَهُ وَلاَ تَفْتِنَّ بَعْدَهُ وَاغْفِرْلَناَ وَلَهُ</p>
        <p class="mt-5">"Ya Allah! Jangan menghalangi kami untuk tidak memperoleh pahalanya dan jangan sesatkan kami sepeninggalnya, ampunilah kami dan ampunilah dia."</p>
        <p class="text-xs mt-4 opacity-60">Untuk mayit perempuan, kata –hu diganti –haa.</p>
        <p class="text-xs mt-4 opacity-60">Referensi: <a href="https://rumaysho.com/4905-ringkasan-pengurusan-jenazah.html" class="underline">Rumaysho</a></p>
    </div>
</section>

{% endblock %}