{% extends "_layout.html" %}

{% set child = true %}
{% set title = "Doa Ketika Sakit" %}
{% set other_sakit = true %}
{% set sendiri = true %}

{% block content %}
<div class="card clickable mt-5" data-dzikir="3">
    <button class="card-click-area"></button>
    <div class="card-count">0</div>
    <div class="flex justify-between items-baseline">
        <p class="text-slate-500">Dibaca 3x</p>
        <p class="doa">بِسْمِ اللَّهِ</span></p>
    </div>
    <p class="mt-3 text-center">"Dengan nama Allah."</p>
    <span class="card-hint">Click/Tap untuk menghitung doa</span>
</div>
<div class="card clickable mt-5" data-dzikir="7">
    <button class="card-click-area"></button>
    <div class="card-count">0</div>
    <p class="doa">أَعُوذُ بِاللَّهِ وَقُدْرَتِهِ مِنْ شَرِّ مَا أَجِدُ وَأُحَاذِرُ</p>
    <p class="mt-5 text-slate-500">Dibaca 7x</p>
    <p class="mt-5">"Aku berlindung kepada Allah dan kekuasaanNya, dari kejahatan sesuatu yang aku jumpai dan aku khawatirkan."</p>
    <p class="text-xs mt-4 opacity-60">Letakkan tangan pada bagian tubuh yang sakit kemudian mengucapkan doa ini.</p>
    <span class="card-hint">Click/Tap untuk menghitung doa</span>
</div>
<div class="card mt-5">
    <p class="doa">بِسْمِ اللَّهِ، تُرْبَةُ أَرْضِنَا، بِرِيقَةِ بَعْضِنَا، يُشْفَى سَقِيمُنَا، بِإِذْنِ رَبِّنَا</p>
    <p class="mt-5">"Dengan nama Allah, debu tanah kami, dengan sedikit ludah kami, bisa menjadi sebab sembuhnya sakit kami, dengan izin Rabb kami."</p>
    <p class="text-xs mt-4 opacity-60">Caranya yaitu dengan mengambil ludah dengan jari telunjuk, kemudian meletakkannya di tanah hingga ada tanah yang menempel pada jari telunjuk lalu mengusap bagian yang sakit dengan mengucapkan doa tersebut ketika sedang mengusap.</p>
</div>
<div class="card mt-5">
    <p class="doa">أَنِّي مَسَّنِيَ الضُّرُّ وَأَنْتَ أَرْحَمُ الرَّاحِمِينَ</p>
    <p class="mt-5">"Sesungguhnya aku telah ditimpa penyakit, dan Engkau adalah Tuhan Yang Maha Penyayang di antara semua penyayang."</p>
    <p class="text-xs mt-4 opacity-60">Ini adalah doa nabi Ayyub yang termaktub dalam surah Al-Anbiya: 83.</p>
</div>
<div class="card mt-5">
    <p class="doa">اَللَّهُمَّ إِنْ كَانَ أَجَلِيْ قَدْ حَضَرَ فَأَرِحْنِيْ، وَإِنْ كَانَ مُتَأَخِّرًا فَارْفَعْهُ عَنِّيْ، وَإِنْ كَانَ بَلَاءً فَصَبِّرْنِيْ</p>
    <p class="mt-5">"Ya Allah, jika ajalku telah dekat maka istirahatkanlah aku. Jika ajalku masih jauh, maka angkatlah aku. Dan jika ini musibah, berikanlah aku kesabaran."</p>
    <p class="text-xs mt-4 opacity-60">Jika penyakit ini Engkau takdirkan maka berikanlah aku kesabaran atasnya dan jangan jadikan aku termasuk orang-orang yang mengeluh.</p>
    <p class="text-xs mt-3 opacity-60">Istirahatkan aku dengan kematian dari segala macam bentuk ujian</p>
    <p class="text-xs mt-3 opacity-60">Berikan aku kesehatan dengan mengangkat penyakitku dan berikan aku keluasan pada kehidupanku.</p>
</div>
<div class="card mt-5">
    <p class="mt-3">Membaca Al-Mu'awwidzaat (Al-Ikhlas, Al-Falaq dan An-Naas)</p>
    <p class="text-xs mt-4 opacity-60">Tiupkan ke tangan, lalu usapkan ke seluruh bagian tubuh yang bisa dijangkau.</p>
</div>
<div class="mt-8 py-4 px-5 border border-slate-200 dark:border-slate-800 rounded-3xl">
    <span class="text-blue-500">Referensi</span>
    <div class="flex flex-col gap-3 mt-2">
        <a href="https://bekalislam.firanda.com/3440-doa-ketika-sakit.html" class="underline leading-5 block">https://bekalislam.firanda.com/3440-doa-ketika-sakit.html</a>
    </div>
</div>
{% endblock %}