{% extends "_layout.html" %}

{% set child = true %}
{% set other = true %}
{% set title = "Doa qunut" %}

{% block content %}

    <section class="mt-8">
        <div class="heading">
            <span class="number">1</span>
            <h3>Utama</h3>
        </div>
        <div class="card">
            <p class="doa">اللَّهُمَّ اهْدِنَا فِيمَنْ هَدَيْتَ، وَعَافِنَا فِيمَنْ عَافَيْتَ، وَتَوَلَّنَا فِيمَنْ تَوَلَّيْتَ، وَبَارِكْ لَنَا فِيمَا أَعْطَيْتَ، وَقِنَا شَرَّ مَا قَضَيْتَ، إِنَّكَ تَقْضِي وَلَا يُقْضَى عَلَيْكَ، وَإِنَّهُ لَا يَذِلُّ مَنْ وَالَيْتَ، وَلَا يَعِزُّ مَنْ عَادَيْتَ، تَبَارَكْتَ رَبَّنَا وَتَعَالَيْتَ</p>
            <p class="mt-5">"Ya Allah, berilah kami petunjuk diantara orang-orang yang Engkau beri petunjuk, dan berilah kami keselamatan diantara orang-orang yang telah Engkau beri keselamatan, uruslah kami diantara orang-orang yang telah Engkau urus, berkahilah untuk kami apa yang telah Engkau berikan kepada kami, lindungilah kami dari keburukan apa yang telah Engkau putuskan, sesungguhnya Engkau Yang memutuskan dan tidak diputuskan perkara atasMu, sesungguhnya tidak akan hina orang yang telah Engkau jaga dan Engkau tolong, dan tidak akan mulia orang yang Engkau musuhi. Engkau Maha Suci dan Maha Tinggi."</p>
        </div>
    </section>

    <section class="mt-8">
        <div class="heading">
            <span class="number">2</span>
            <h3>Memohon rahmat, ampunan dan berlindung dari adzab</h3>
        </div>
        <div class="card">
            <p class="doa">اللَّهُمَّ إِنَّا نَسْتَعِينُكَ وَنَسْتَغْفِرُكَ، وَنُثْنِي عَلَيْكَ الْخَيْرَ، وَلَا نَكْفُرُكَ، وَنَخْلَعُ وَنَتْرُكُ مَنْ يَفْجُرُكَ، اللَّهُمَّ إِيَّاكَ نَعْبُدُ، وَلَكَ نُصَلِّي، وَنَسْجُدُ وَإِلَيْكَ نَسْعَى وَنَحْفِدُ، وَنَرْجُو رَحْمَتَكَ، وَنَخْشَى عَذَابَكَ، إِنَّ عَذَابَكَ بِالْكُفَّارِ مُلْحِقٌ</p>
            <p class="mt-5">"Ya Allah 'Azza wa Jalla, kami memohon perlindungan kepadaMu, dan kami memohon ampun kepadaMu, Kami menyanjungMu dengan kebaikan, dan kami tidak kufur kepadaMu, dan kami meninggalkan orang-orang yang bermaksiat kepadaMu,</p>
            <p class="mt-3"> Ya Allah 'Azza wa Jalla, kepadaMulah kami beribadah, dan kepadaMulah kami shalat dan sujud, dan kepadaMu-lah kami melangkah dan bersegera, kami mengharapkan rahmatMu, dan kami takut akan adzabMu, sesungguhnya adzabMu sungguh benar-benar akan menimpa orang-orang kafir."</p>
        </div>
    </section>

    <section class="mt-8">
        <div class="heading">
            <span class="number">3</span>
            <h3>Berlindung dari rasa lemah dan malas</h3>
        </div>
        <div class="card">
            <p class="doa">اَللَّهُمَّ إِنَّا نَعُوْذُ بِكَ مِنَ الْهَمِّ وَالْحَزَنِ، وَالْعَجَزِ وَالْكَسَلِ، وَالْبُخْلِ وَالْجُبْنِ، وَضَلَعِ الدَّيْنِ وَغَلَبَةِ الرِّجَالِ</p>
            <p class="mt-5">"Ya Allah Sesungguhnya kami berlindung kepadamu dari hal yang menyusahkan menyedihkan lemah malas kebakhilan sifat pengecut lilitan hutang dan penindasan orang."</p>
        </div>
    </section>

    <section class="mt-8">
        <div class="heading">
            <span class="number">4</span>
            <h3>Berlindung dari sifat kikir dan hina di masa tua</h3>
        </div>
        <div class="card">
            <p class="doa">اَللَّهُمَّ إِنَّا نَعُوْذُ بِكَ مِنَ الْبُخْلِ، وَنَعُوْذُ بِكَ مِنَ الْجُبْنِ، وَنَعُوْذُ بِكَ أَنْ نُرَدَّ إِلَى أَرْذَلِ الْعُمُر، وَنَعُوْذُ بِكَ مِنْ فِتْنَةِ الدُّنْيَا، وَنَعُوْذُ بِكَ مِنْ عَذَابِ الْقَبْرِ</p>
            <p class="mt-5">"Ya Allah Sesungguhnya  kami memohon perlindungan kepadaMu dari sifat kikir, kami berlindung kepadaMu dari sifat pengecut dan  kami berlindung kepadamu dari dikembalikan kepada umur yang paling hina atau pikun dan  kami berlindung kepadamu dari fitnah dunia dan  kami berlindung kepadamu dari azab kubur."</p>
        </div>
    </section>

    <section class="mt-8">
        <div class="heading">
            <span class="number">5</span>
            <h3>Memohon perbaikan untuk agama, dunia dan akhirat</h3>
        </div>
        <div class="card">
            <p class="doa">اَلَّلهُمَّ أَصْلِحْ لَنَا دِيْنَنَا الَّذِيْ هُوَ عِصْمَةُ أَمْرِنَا، وَأَصْلِحْ لَنَا دُنْيَانَا الَّتِيْ فِيْهَا مَعَاشُنَا، وَأَصْلِحْ لَنَا آخِرَتَنَا الَّتِيْ فِيْهَا مَعَادُنَا، وَاجْعَلِ الْحَيَاةَ زِيَادَةً لَنَا فِيْ كُلِّ خَيْرٍ، وَاجْعَلِ الْمَوْتَ رَاحَةً لَنَا مِنْ كُلِّ شَرٍّ</p>
            <p class="mt-5">"Ya Allah perbaikilah Agama kami untuk kami karena ia adalah benteng pelindung kami bagi urusan kami, perbaikilah dunia kami untuk kami sebab ia adalah tempat hidup kami perbaikilah akhirat kami sebab ia adalah tempat kembali kami, jadikanlah kehidupan ini Sebagai tambahan bagi kami dalam setiap kebaikan dan jadikanlah kematian sebagai kebebasan bagi kami dari segala keburukan."</p>
        </div>
    </section>

    <section class="mt-8">
        <div class="heading">
            <span class="number">6</span>
            <h3>Memohon petunjuk, taqwa, harga diri dan kecukupan</h3>
        </div>
        <div class="card">
            <p class="doa">اَللَّهُمَّ إِنَّا نَسْأَلُكَ الْهُدَى وَالتُّقَى وَالْعَفَافَ وَالْغِنَى</p>
            <p class="mt-5">"Ya Allah kami minta kepadaMu petunjuk, ketaqwaan, harga diri, dan kecukupan."</p>
        </div>
    </section>

    <section class="mt-8">
        <div class="heading">
            <span class="number">7</span>
            <h3>Berlindung dari hilangnya nikmat, selamat dan siksa yang tiba-tiba</h3>
        </div>
        <div class="card">
            <p class="doa">اَللَّهُمَّ إِنَّا نَعُوْذُ بِكَ مِنْ زَوَالِ نِعْمَتِكَ، وَتَحَوُّلِ عَافِيَتِكَ، وَفُجَاءَةِ نِقْمَتِكَ، وَجَمِيْعِ سَخَطِكَ</p>
            <p class="mt-5">"Ya Allah kami berlindung kepadaMu dari hilangnya nikmatMu, berpindahnya penyelamatanMu, siksamu yang datang tiba-tiba, dan segala kemurkaanMu."</p>
        </div>
    </section>

    <section class="mt-8">
        <div class="heading">
            <span class="number">8</span>
            <h3>Memohon kejayaan islam dan hinakanlah kesyirikan</h3>
        </div>
        <div class="card">
            <p class="doa">اللَّهُمَّ أَعِزَّ الإِسْلاَمَ وَالْمُسْلِمِيْنَ وَأَذِلَّ الشِّرْكَ وَالْمُشْرِكِيْنَ، وَدَمِّرْ أَعْدَاءَكَ أَعْدَاءَ الدِّيْنِ يـَا رَبَّ الْعَالَمِيْنَ</p>
            <p class="mt-5">"Ya Allah jayakanlah islam dan kaum muslimin, dan hinakanlah kesyirikan dan kaum musyrikin, serta hancurkanlah musuh-musuhMu yaitu musuh-musuh agama, wahai Penguasa alam semesta."</p>
        </div>
    </section>

    <div class="mt-8 py-4 px-5 border border-slate-200 dark:border-slate-800 rounded-3xl">
        <span class="text-blue-500">Referensi</span>
        <div class="flex flex-col gap-3 mt-2">
            <a href="https://bekalislam.firanda.com/4214-doa-doa-pilihan-untuk-dibaca-ketika-qunut.html" class="underline leading-5 block">https://bekalislam.firanda.com/4214-doa-doa-pilihan-untuk-dibaca-ketika-qunut.html</a>
        </div>
    </div>

{% endblock %}